<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner 404 - Lost In Space</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container body-content">
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><h2>404: PAGE NOT FOUND</h2>
            <p>We wish we could say that we're working on solving this issue, but lying to our users is not one of our business practices.</p>
            <p><a href="/">Go Home Web Browser</a>, You're Drunk</p>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>