<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner 404 - Lost In Space</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
{#    <script src="{% static 'app/content/scripts' %}"></script>#}

</head>

<body>
<div class="container body-content">
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <img id="gloriouslabour" src="{% static 'app/images/sailing_hard.jpg' %}">
            <h1>404: You went deep into the vacuums of space</h1>
            <p>We wish we could say that we're working on solving this issue, but rescuing our users from the cold, deep space is not within our scope</p>
            <p>We can <a onclick="history.go(-1);">teleport</a> you back to the previous page though</p>
            <br>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>