<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% if user.is_authenticated %}
{% include "app/navbar.html" %}
{% endif %}

<div class="container body-content">
    <div class="row" >
        <div class="col-md-2"></div>
        <div class="col-md-8 echelonpanel">
            <h1>HERE'S A SONG TO EXPLAIN ALL OF THIS</h1>
            <br>
            <p>I am the very model of a project quite intangible</p>
            <p>I've information most informal, unstable, and fallible,</p>
            <p>My languages are weak-typed, and my programmers hysterical</p>
            <p>From writing to debugging, 'tis a plight most diabolical</p>
            <p>I'm very well acquainted, too, with pages problematical</p>
            <p>I make fantastic schedules, both the robotic and manual</p>
            <p>About conflicting courses I am teeming with a lot o' news</p>
            <p>With many cheerful facts about the tables in the schedule views</p>
            <br>
            <p>I'm very good at baffling and upsetting any thalamus</p>
            <p>With variables whose early names were nothing short of scandalous</p>
            <p>In short, in matters most informal, unstable, and fallible,</p>
            <p>I am the very model of a project quite intangible!</p>
            <br>
            <h2>HURRAH!</h2>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br>
    {% include "app/footer.html" %}
</div>
</body>
</html>