<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load the Navbar at the top of the page.-->
{% include "app/navbar.html" %}

<script type="text/javascript">
// NOTE: PUTTING JAVASCRIPT ON HTML IS HORRIBLE, HORRIBLE PRACTICE

    //Currently, this function knows which table row was selected and can read its ID
    $('body').on('click','tr', function() {
            window.location.href = '/browse_specific_course/'+this.id+'/'
        });

</script>

<div class="container body-content">
    <div class="row" >
        <div class="col-xs-3">
            <h1>Filter Courses</h1>
            <form class="form-signin" method="post" action="/browse_all_courses/">
                {% csrf_token %}
                <!-- Common Departments -->
                <label for="department" class="control-label input-group">Department</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="department" value="" checked="">Any
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="department" value="SOEN">SOEN
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="department" value="COMP">COMP
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="department" value="ENGR">ENGR
                    </label>
                </div>

                <!-- Credit Threshold -->
                <label for="credits" class="control-label input-group">Credits Amount</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="credits" value="4" checked="">4 ≤
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="credits" value="3">3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="credits" value="2">2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="credits" value="1">1
                    </label>
                </div>
                <div class="text-left">
                    <!-- Custom Search with String -->
                    <label>Search By Name (Overrides Previous)</label>
                    <input id="inputString" class="form-control" placeholder="Name and dept. (e.g. SOEN101)" name="custom_string" type="text">
                </div>

                <div class="text-left">
                    <p> </p>
                </div>

                <!-- SUBMIT! -->
                <button class="btn btn-primary btn-block" type="submit">Find</button>
            </form>

            <!-- Also, display current schedule -->
            {% if schedule %}
                <h1>Current Semester Schedule</h1>
                {% for sections in schedule %}
                    <p>{{ sections }}</p>
                {% endfor %}
            {% endif %}
            <!--end schedule -->
        </div>
        <div class="col-xs-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credits</th>
                </tr>
                </thead>
                <tbody>
                {% for item in courseList %}
                    <tr id="{{ item.deptnum }}">
                        <td>{{  item.deptnum }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.credits }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>

</body>

</html>