<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load the Navbar at the top of the page.-->
{% include "app/navbar.html" %}

<script type="text/javascript">
// NOTE: PUTTING JAVASCRIPT ON HTML IS HORRIBLE, HORRIBLE PRACTICE

    //Currently, this function knows which table row was selected and can read its ID
    $('body').on('click','tr', function() {
            window.location.href = '/browse_specific_course/'+{{ department }}{{ number }}+'/'
        });

</script>

<div class="container body-content">
    <div class="row" >
        <div class="col-xs-3">
                        <h1>Filter Courses</h1>
            <form class="form-signin" method="post" action="/browse_all_courses/">
                {% csrf_token %}
                <!-- Common Departments -->
                <label for="department" class="control-label input-group">Department</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="department" value="" checked="">Any
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="department" value="SOEN">SOEN
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="department" value="COMP">COMP
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="department" value="ENGR">ENGR
                    </label>
                </div>

                <!-- Credit Threshold -->
                <label for="credits" class="control-label input-group">Credits Amount</label>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="credits" value="4" checked="">4 ≤
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="credits" value="3">3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="credits" value="2">2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="credits" value="1">1
                    </label>
                </div>
                <div class="text-left">
                    <!-- Custom Search with String -->
                    <label>Search By Name (Overrides Previous)</label>
                    <input id="inputString" class="form-control" placeholder="Name and dept. (e.g. SOEN101)" name="custom_string" type="text">
                </div>

                <div class="text-left">
                    <p> </p>
                </div>

                <!-- SUBMIT! -->
                <button class="btn btn-primary btn-block" type="submit">Find</button>
            </form>

            <!-- Also, display current schedule -->
            {% if schedule %}
                <h1>Current Semester Schedule</h1>
                {% for sections in schedule %}
                    <p>{{ sections }}</p>
                {% endfor %}
            {% endif %}
            <!--end schedule -->
        </div>

        <div class="col-xs-8">
        <a a onclick="history.go(-1);"><button type="button" class="btn btn-primary">Back to Previous</button></a>
            {# If we have the Course Info to Bake here#}
            {% if department %}
                <h1> Course: {{ department }} {{ number }}</h1>
                <h2> "{{ name }}" - ({{ credits }} CR)</h2>
                <div></div>
                {# Show Prereqs #}
                <h3>Prerequisites:</h3>
                <p> {% for items in prereq %}
                        {{ items }}
                    {% endfor %}
                </p>
                {# Show the Actual Lecture #}
                <h3>Lectures</h3>
                {% for sections in lectures %}
                    <h4>{{ sections.semester }} /{{ sections.section }}</h4>
                    <ul class="list-inline">
                        <li>Time: {{ sections.days }} {{ sections.starttime }} - {{ sections.endtime }}</li>
                        <li>Location: {{ sections.location }}</li>
                        <li>Professor: {{ sections.prof }}</li>
                    </ul>
                    {# TODO: Have a nice button here to select a particular lecture #}

                    {% if sections.tutorial or sections.labs %}
                    <!-- TODO: Indent the contents of this table-->
                    <div class="">
                        <h4>Available Sections</h4>
                        <!-- Table that displays all Sections with respective Tutorials and Labs -->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Tutorial</th>
                                <th></th>
                                <th>Days</th>
                                <th>Location</th>
                                <th>Hours</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tutorials in sections.tutorial %}
                                <tr>
                                    <td rowspan="{{ tutorials.lab|length|add:"+1" }}"> Tutorial {{ tutorials.section }}</td>

                                    {% if tutorials.lab|length > 0 %}
                                    <td rowspan="1"> Lab Sections ({{ tutorials.lab|length }})</td>
                                        {% else %}
                                    <td rowspan="1"> No Labs</td>
                                    {% endif %}

                                    {% if tutorials.days == "-------" %}
                                    <td>Online Tutorial</td>
                                        {% else %}
                                    <td>{{ tutorials.days }}</td>
                                    {% endif %}

                                    <td>{{ tutorials.location }}</td>
                                    <td>{{ tutorials.starttime }} - {{ tutorials.endtime }}</td>

                                </tr>
                                {% for labs in tutorials.lab %}
                                <tr>
                                    <td> Lab {{ labs.section }}</td>
                                    <td>{{ labs.days }}</td>
                                    <td>{{ labs.location }}</td>
                                    <td>{{ labs.starttime }} - {{ labs.endtime }}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    <br>
                {% endfor %} {# for loop on lectures #}
            {% endif %} {# if condition to check stuff #}
        </div>

        <div class="col-xs-1">

        </div>
    </div>
</div>

</body>
</html>