
<div class="container body-content">
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <!-- not sure if form-signin should be class -->
            <form class="form echelonpanel" method="post" action="/change_pass/" id="giveSpace">
                {% csrf_token %}
                <h2 class="form">Password Change</h2>

                <label for="inputNewPassword" class="sr-only">Enter current Password</label>
                <input id="inputNewPassword" class="form-control" placeholder="Enter your Current Password" name="oldPass" type="password">


                <label for="inputNewPassword" class="sr-only">Enter new password</label>
                <input id="inputNewPassword" class="form-control" placeholder="Enter New Password" name="password1" type="password">

                <label for="verifyNewPassword" class="sr-only">Verify new password</label>
                <input id="verifyNewPassword" class="form-control" placeholder="Verify New Password" name="password2" type="password">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
            </form>
        </div>
        <div class="col-xs-2"></div>
    </div>
    <br>
    {% include "app/footer.html" %}
</div>

<!--
</body>

</html>
-->