<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>
</head>
<body>
<!-- Load the Navbar at the top of the page.-->
{% include "app/navbar.html" %}
<div class="container body-content">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h1>Concordia Resources</h1>
            <h2 class ="small">The following contain links for a few helpful concordia resources</h2>
            <p>
                <a class="btn btn-lg btn-primary btn-block" href='http://www.concordia.ca/' target = '_blank'>
                    Concordia Main Site</a>
                    Takes your to the main Concordia web site.
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-block" href='http://www.concordia.ca/encs.html' tsrget = '_blank'>
                    ENCS Faculty Site</a>
                    The ENCS Facultty site, where you can find a lot of additional information about the ENCS.
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-block"href='http://www.concordia.ca/academics/undergraduate/software-engineering.html'>
                    SOEN web page</a>
                    The Software Engineering web page, providing tools and guidelines for software engineering students.
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-block" href='https://campus.concordia.ca/psc/pscsprd/EMPLOYEE/HRMS/c/CU_EXT.CU_CLASS_SEARCH.GBL'
                target = '_blank'>
                Class Schedules</a>
                Link to the class schedule, where you can browse specific information for all your courses.
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-block" href='http://www.concordia.ca/academics/undergraduate/calendar.html'
                target = '_blank'>Undergrad Calendar</a>
                The Undergraduate Calendar.
            </p>
            <p>
                <a class="btn btn-lg btn-primary btn-block" href='http://www.concordia.ca/encs/students/sas/undergrad-program-info/course-sequences/software.html'
                target = '_blank'>SOEN Course Sequences</a>
                Course sequences for software engineers.
            </p>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>