<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% if user.is_authenticated %}
{% include "app/navbar.html" %}
{% endif %}

<div class="container body-content">
    <div class="row" >
        <div class="col-xs-2"></div>
        <div class="col-xs-8 text-center echelonpanel">
            <h1>Echelon Planner was brought to you by</h1>

            <h2>The EVE Team</h2>
            <p>Computer Engineering Students of Concordia University</p>

            <h3>Front-End</h3>
            <p>Mario Felipe Muñoz Ferrante (Software Engineering Student)</p>
            <p>Javier Fajardo</p>
            <p>Arsalan Ali</p>

            <h3>Back-End</h3>
            <p>Thinesh Thuraisingam</p>
            <p>Ahmed Popal</p>
            <p>Nauman Saeed Mirza</p>

            <h3>Testing</h3>
            <p>Nicole Cappadocia-Assaly</p>
            <p>Nitesh Arora</p>

            <h3>Documentation</h3>
            <p>  Philippe Sylvestre</p>
            <p>  Dimitrios Ziavras</p>
            <p>  Joseph Siouffi</p>

        </div>
        <div class="col-xs-2">
        </div>
    </div>
    <br>
    {% include "app/footer.html" %}
</div>
</body>
</html>