<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<script type="text/javascript">

    //this script allows the dropdown to save the selected option as its label.
    $(function(){

  $(".dropdown-menu li a").click(function(){
      var xx = $(this).attr("number")-1; //this is going to go into eq, I need some way to pass the button number to it.
    $(".dropdown .btn:eq("+ xx +" )").text($(this).text());
    $(".dropdown .btn:eq(" + xx +" )").val($(this).text());

  });

});
    //multi-level dropdown hack because bootstrap hates everyone
    $(function () {
        $(".dropdown-menu > li > a.trigger").on("click", function (e) {
            var current = $(this).next();
            var grandparent = $(this).parent().parent();
            if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                $(this).toggleClass('right-caret left-caret');
            grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
            grandparent.find(".sub-menu:visible").not(current).hide();
            current.toggle();
            e.stopPropagation();
        });
        $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
            var root = $(this).closest('.dropdown');
            root.find('.left-caret').toggleClass('right-caret left-caret');
            root.find('.sub-menu:visible').hide();
        });
    });
</script>

<!--test 1-->
<div class="container body-content">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h2>Pick Your Poison: University Edition</h2>

            <form class="form-group" method="post" action="/glorious_schedule_assembly/">
                {% csrf_token %}
                {% for slot in max_courses %}
                    {% cycle "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" as order silent %}
                    <div class="dropdown" style="position:relative">
                        <a href="#" class="btn btn-primary dropdown-toggle giveSpace"
                           data-toggle="dropdown" data-bind="label">Course {{ order }}
                            <span class="caret"></span>&nbsp;</a>
                        <ul class="dropdown-menu">
                            {% for course in feasable_courses %}
                                <li>
                                    <a class="trigger right-caret">{{ course.deptnum }} : {{ course.name }}</a>
                                    <ul class="dropdown-menu sub-menu">
                                        {% for item in testTestList %}
                                            <li><a href="#" number ="{{ order }}" > {{ course.deptnum }}: {{ item }} </a> </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>