<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/login.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>

<div class="container" id="test">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br>
            <img class="bg-primary" src="{% static 'app/images/logo.png' %}">
            <p></p>

                <form class="form-signin" method="post" action="/login_handler/">
                    <h1>EchelonPlanner Login</h1>
                    {% if hasMessage %}
                        <p>{{ message }}</p>
                    {% endif %}
                    {% csrf_token %}
                    <h2 class="form-signin-heading">
                        Please log in or <a href="/register">register here</a>
                    </h2>
                    <label for="inputUser" class="sr-only">Enter Registered Email</label>
                    <input id="inputUser" class="form-control" placeholder="Enter Registered Email" name="username"
                           type="text">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input id="inputPassword" class="form-control" placeholder="Password" name="password"
                           type="password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember-me" value="True"> Remember me
                        </label>
                    </div>
                    <input id="hasheduser" class="form-control" placeholder="" name="hasheduser" type="text" value="{% hasheduser %}">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>

            <p>For your security, this site has been certified by COMODO Positive SSL</p>
            <p><a href="https://www.positivessl.com" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans.png" alt="Positive SSL on a transparent background" title="Positive SSL on a transparent background" border="0" /></a></p>
                <!-- Might want to add a link for Info? -->

        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    {% include "app/footer.html" %}


</div>
</body>
</html>