<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/login.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>

<div class="container body-content" id="test">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <p></p>
            <img class="bg-primary"
                                   src="{% static 'app/images/logo.png' %}"
                                   id=CoA
                                   alt="Magister Dixit">
            <p></p>

                <form class="form-signin" method="post" action="/login_handler/">
                    <h1>Echelon Planner Login</h1>
                    {% if hasMessage %}
                        <p>{{ message }}</p>
                    {% endif %}
                    {% csrf_token %}
                    <h2 class="form-signin-heading">
                        Please log in or <a href="/register">register here</a>
                    </h2>
                    <label for="inputUser" class="sr-only">Enter Registered Email</label>
                    <input id="inputUser" class="form-control" placeholder="Enter Registered Email" name="username"
                           type="text">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input id="inputPassword" class="form-control" placeholder="Password" name="password"
                           type="password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember-me" value="True"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>

                <!-- Might want to add a link for Info? -->

        </div>
        <div class="col-xs-3"></div>
    </div>

</div>
</body>
</html>