<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concordia YouSched</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<div class="container body-content">
    <div class="row" >
        <div class="col-xs-2"><h2>What do we do?</h2>
            <p>We provide an effective and efficient way for you to schedule the courses you are taking in the software
            engineering department. This is achieved by giving you the choice between picking and chose all your course or
            by simply clicking on one button creating you schedule for all four years. Either way, we guarantee that the
            schedule made here will work for you.</p>
        </div>
        <div class="col-xs-8"><h2>WELCOME TO THE ECHELON PLANNER</h2>
            <p>Here you can create and maintain your schedule for software engineering at Concordia University.</p>
            <p>Use the navigation bar at the top or one of the following buttons to begin </p>
            <p>
                <a class="btn btn-lg btn-primary btn-block" href='/schedule_make' target = '_blank'>
                    Schedule Generation</a>
                <a class="btn btn-lg btn-primary btn-block" href='/user_profile' target = '_blank'>
                    Your Profile</a>
                <a class="btn btn-lg btn-primary btn-block" href='/concordia_resources' target = '_blank'>
                    Resources</a>
                <a class="btn btn-lg btn-primary btn-block" href='/work_in_progress' target = '_blank'>
                    help</a>
            </p>
        </div>
        <div class="col-xs-2"><h2>How we do it</h2>
        <p>COEN MASTER RACE</p>
        </div>
    </div>
</div>
</body>
</html>