<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<div class="container body-content">
    <div class="row" >
        <div class="col-md-2"></div>
        <div class="col-md-8 echelonpanel"><h2>WELCOME TO THE EchelonPlanner</h2>
            <p>Here you can create and maintain your schedule for software engineering at Concordia University.</p>
            <p>Use the navigation bar at the top or one of the following buttons to begin </p>
            <p>
                <a class="btn btn-lg btn-primary btn-block" href='/sched_gen_1'>
                    Schedule Generation</a>
                <a class="btn btn-lg btn-primary btn-block" href='/user_profile'>
                    Your Profile</a>
                <a class="btn btn-lg btn-primary btn-block" href='/concordia_resources'>
                    Resources</a>
                <a class="btn btn-lg btn-primary btn-block" href='/help/'>
                    Site Help</a>
            </p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br>
    {% include "app/footer.html" %}
</div>
</body>
</html>