<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concordia YouSched</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/defjs/exercise3.js' %}"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="row">
            <div class="container">
                <ul class="nav navbar-nav" role="tablist">
                    <li> <span= "littlelogo"><img class="bg-primary" src="{% static 'app/images/rsz_concordia_coa.png' %}" id=CoA
             alt="Magister Dixit"></span></li>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">About</a></li>
                </ul>

            </div>
        </div>
</div>
</div>

</body>
</html>