{% load staticfiles %}


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <a class="navbar-brand pull-left" href="/"><img src="{% static 'app/images/rsz_concordia_coa.png' %}"></a>

    <button class="navbar-toggle pull-right" data-target=".nav-collapse" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav nav-tabs-justified">

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Manage your schedule and registration">Schedule Management <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class=><a href="/schedule_generator">Generate</a></li>
                        <li class=""><a href="/schedule_view">View</a></li>
                        <li class=""><a href="/work_in_progress">Manage preferences</a></li>
                        <li class=""><a href="/browse_all_courses">Browse all courses</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" title="View your student record and online profile">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ><a href="/user_profile">Inspect</a></li>
                        <li class=""><a href="/change_details">Modify Details</a></li>
                        <li class=""><a href="/change_email">Change Email</a></li>
                        <li class=""><a href="/change_pass">Change Password</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" title="Helpful links to other sites">Tools <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="/concordia_resources">Concordia Resources</a></li>
                        <li class=""><a href="/work_in_progress">[external links]</a></li>
                        <li class=""><a href="/work_in_progress">[]</a></li>
                    </ul>
                </li>

                <li><a href="/work_in_progress/" title="Site help section">Help</a></li>

                <li><a href="/logout" title="Last Section">Logout</a></li>

            </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->