<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Registration</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/overall.css' %}" />
	<script src="{% static 'app/scripts/exercise3.js' %}"></script>
</head>
<body>
	<script>
		translate();
	</script>
	<div id=outermost>
		<h1 id=regist>Registration</h1>
		<div id=outer>
			<form onsubmit="return submitCheck()">
				<p id=formfill>
					Please fill out the form <img src="{% static 'app/images/french-flag.gif' %}"
						alt="Francais" id=flag onclick="readFlag();">
				</p>

				<p class=top id=logindetails>Login Details</p>
				<div class=inner>
					<table>
						<tr>
							<td>Username*</td>
							<td><input type=text id="user"></input><img
								src="{% static 'app/images/exclamation_red.png' %}" alt="warning" id=uwarning></td>
						</tr>
						<tr>
							<td>Password*</td>
							<td><input type=password id="pass" onblur="passcheck();"></input><img
								src="{% static 'app/images/exclamation_red.png' %}" alt="warning"></td>
						</tr>
						<tr>
							<td>Retype Password*</td>
							<td><input type=password id="repass" onblur="passcheck();"></input><img
								src="{% static 'app/images/exclamation_red.png' %}" alt="warning" id=pwarning></td>
						</tr>
					</table>
				</div>
				<p class=top id=userdata>User Data</p>
				<div class=inner id=lowest>
					<table>
						<tr>
							<td>First Name*</td>
							<td><input type=text id="fname"></input><img
								src="{% static 'app/images/exclamation_red.png' %}" alt="warning" id=firstwarning></td>
						</tr>
						<tr>
							<td>Middle Name</td>
							<td><input type=text id="mname"></input><img
								src="{% static 'app/images/exclamation_red.png' %}" alt="warning" id=midwarning></td>
						</tr>
						<tr>
							<td>Last Name*</td>
							<td><input type=text id="lname"></input><img
								src="{% static 'app/images/exclamation_red.png' %}" alt="warning" id=lastwarning></td>
						</tr>
						<tr>
							<td>Email*</td>
							<td><input type=text id="email" onchange="emailcheck();"></input><img
								src="{% static 'app/images/exclamation_red.png' %}" alt="warning" id=ewarning></td>
						</tr>
					</table>
				</div>

				<p id=end>
					<input type=submit value="Submit" id=subbut></input>
				</p>
			</form>
		</div>
	</div>
</body>
</html>