<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    {% load cycle from future %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>

</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<script type="text/javascript">

    //this script allows the dropdown to save the selected option as its label and make a new button.

    $(function () {
        $(".vortex0").click(function () {
            $("#yearDiv").find("#year").text($(this).text());
            $("#yearDiv").find("#yearOut").val($(this).text());
            $("#yearDiv").find("#year").attr("name", $(this).text());
            $("#semesterDiv").removeClass("hidden");
        });
    });

    $(function () {
        $(".vortex1").click(function () {
            $("#semesterDiv").find("#semester").text($(this).text());
            $("#semesterDiv").find("#semester").attr("name", $(this).text());
            $("#semesterDiv").find("#semesterOut").val($(this).text());
            $("#select_gen_type").removeClass("hidden");
        });
    });

    $(function () {
        $("#select_gen_type").click(function () {
            $("#final_step").removeClass("hidden");
        });
    });

    $(function () {
        $("#select_gen_type button").click(function () {
            $("#gen-type").val($(this).text());
        });
    });

    $(function () {
        $("#auto_gen").hover(function () {
            $("#hover_over_help").find("#auto_gen").show();

        });
    });


</script>

<div class="container body-content">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">

            <div>
                <h1>Generate New Schedule</h1>
            </div>

            <div class="blank">
                <form class="form-group" method="post" action="/sched_gen_1/">
                    {% csrf_token %}
                    <h2>Select Schedule Period: </h2>

                    <div class="btn-group blank list-inline" data-toggle="buttons">
                        <div id="yearDiv" class="dropdown blank" style="position:relative">
                            <input type="hidden" id="yearOut" name="year" value="">
                            <a id="year" href="#" class="btn btn-primary dropdown-toggle giveSpace"
                               data-toggle="dropdown" data-bind="label" name="selectYear"
                               value="">Select Year
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for year in max_years %}
                                    <li>
                                        <a class="vortex0" href="#" name="{{ semester }}">{{ year }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="semesterDiv" class="dropdown hidden blank list-inline" style="position:relative">
                            <input type="hidden" id="semesterOut" name="semester" value="">
                            <a id="semester" href="#" class="btn btn-primary dropdown-toggle giveSpace"
                               data-toggle="dropdown" data-bind="label" name="selectSemester"
                               value="">Select Semester
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for semester in semesterCycle %}
                                    <li>
                                        <a class="vortex1" href="#" name="{{ semester }}">{{ semester }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="select_gen_type" class="hidden list-inline toggle-buttons" data-toggle="buttons-radio">
                            <h2>Schedule Generation Type</h2>
                            <button class="btn btn-lg btn-primary" type="button" id="selected_gen_type">Automatic</button>
                            <button class="btn btn-lg btn-primary" type="button" id="selected_gen_type">Manual</button>
                        </div>
                        <input type="hidden" id="gen-type" name="gen-type"/>
                    </div>

                    <div class="hidden" id="final_step">
                        <h1>Ready?</h1>
                        <button class="btn btn-lg btn-primary" type="submit"> Begin</button>
                    </div>


                </form>
            </div>
        </div>
        <div class="col-xs-5">
            <h1>General Information</h1>
            <h3>Let's make a new schedule</h3>
            <p>Here you will start selecting your schedule. Follow these steps to create your schedule</p>
            <p>1. Select the year you are scheduling for. This year is your yat concordia. For example, if you are scheduling for your first year, select 1.</p>
            <p>2. Select the semester you are scheduling for.</p>
            <p>3. Select the type of generation you are scheduling for, either automatic or manual.</p>
            <p>4. Hit submit.</p>
            <div id="hover_over_help">
                <!-- TODO: Make hover over links to display help! -->
                <h4>For sequence information use the following link:</h4>
                <a class="btn btn-lg btn-primary btn-block" href='http://www.concordia.ca/encs/students/sas/undergrad-program-info/course-sequences/software.html'
                target = '_blank'>SOEN Course Sequences</a>
                <p id="auto_gen">For further aid, visit our resources page.</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>