<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    {% load cycle from future %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>

</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<script type="text/javascript">
    // Test jQuery function for AJAX handling
    $(function () {
        $(".testbutton").click(function () {

            //AJAX START

            $.ajax({
                type: 'post',
                url: "/course_data/",
                dataType: 'html',
                data: {
                    'deptnum': 'SOEN228',
                    'semester': '{{ currentSemester }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {

                    //NEW FORMAT
                    //1. Unpack the JSON dictionary (gives back deptnum, lectures, tutorials, labs)
                    var newObj = jQuery.parseJSON(data.valueOf());
                    //2. Unpack the SECOND JSON from hell (gives back the array of Django Models)
{#                    var newNewObj = jQuery.parseJSON(newObj['lectures']);#}
                    $('#Testerstest').html(newObj);
                    console.log((newObj['lectures'].first)['professor']+ " ");
                },
                failure: function (data) {
                    alert('Got an error');
                }

            });
            return false;


            //AJAX END
        });

    });

    //this script allows the dropdown to save the selected option as its label and make a new button.

    $(function () {
        $(".zero").click(function () {
            var currentNo = $(this).attr("number");
            var currentCourse = $(this).attr("course");

            $("#classDiv" + currentNo).find("#classDiv" + currentNo + "Text").text($(this).text());
            $("#classDiv" + currentNo).find("#classDiv" + currentNo + "Text").val($(this).text());
            $("#classInput" + currentNo).val($(this).attr("deptnum"));
            $("#lectInput" + currentNo).val("");
            $("#tutInput" + currentNo).val("");
            $("#labInput" + currentNo).val("");

            $("#tutDiv" + currentNo).find("#tutDiv" + currentNo + "Text").attr('course', currentCourse);
            $("#tutDivDrop" + currentNo).html("");
            $("#tutDiv" + currentNo + "Text").html("Tutorial "+currentNo+" <span class='caret'></span>&nbsp;");
            $("#tutDiv" + currentNo + "Text").val("");

            $("#labDiv" + currentNo).find("#labDiv" + currentNo + "Text").attr('course', currentCourse);
            $("#labDivDrop" + currentNo).html("");
            $("#labDiv" + currentNo + "Text").html("Lab "+currentNo+" <span class='caret'></span>&nbsp;");
            $("#labDiv" + currentNo + "Text").val("");

            $("#lectDiv" + currentNo).find("#lectDiv" + currentNo + "Text").removeClass("disabled");
            $("#lectDiv" + currentNo).find("#lectDiv" + currentNo + "Text").attr('course', currentCourse);


            //AJAX START

            $.ajax({
                type: 'post',
                url: "/browse_specific_course/",
                dataType: 'html',
                data: {
                    'deptnum': $(this).attr('deptnum'),
                    'semester': {{ currentSemester }},
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    var newObj = jQuery.parseJSON(data.valueOf());
                    console.log(newObj.toString());

                    $('#Testerstest').html(newObj['deptnum'] + ": Hey ");
                    //console.log(newObj.length+ " " +newNewObj.type + " ")
                    var lectureList = jQuery.parseJSON(courseData['lectures']);
                    var tutList = jQuery.parseJSON(courseData['tutorials']);
                    var labList = jQuery.parseJSON(courseData['labs']);

                    $("#lectDrop" + currentNo).html("");
                    $("#lectDiv" + currentNo + "Text").html("Lecture "+currentNo+" <span class='caret'></span>&nbsp;");
                    $("#lectDiv" + currentNo + "Text").val("");


                    //populating lectures (handles .one links)
                    for (var lectNo = 0; lectNo < lectureList.length; lectNo++) {
                        var $leText = lectureList[lectNo].fields['section']+" ";
                        var newListItem = $("<li>");
                        var newListLink = $("<a>").attr('id', 'lectNo'+lectNo);
                        newListLink.attr('href','#');
                        newListLink.addClass('one');
                        newListLink.attr('number', currentNo);
                        newListLink.attr('lect',lectureList[lectNo].fields['section']);
                        newListLink.attr('course',lectureList[lectNo].fields['course']);
                        newListLink.attr('pk',lectureList[lectNo].pk);
                        newListLink.attr('value',lectureList[lectNo].pk);
                        newListLink.text($leText);
                        newListLink.bind("click", function () {

                            //this changes the text and value of the lecture dropdown after a click
                            console.log("lect");
                            $("#lectDiv" + currentNo + "Text").text($(this).text());
                            $("#lectDiv" + currentNo + "Text").val($(this).text());
                            $("#lectInput" + currentNo).val($(this).text());
                            //end of that

                            //checking for tutorials and doing what needs to be done to the tut lists accordingly
                            if(tutList.length != 0 ) {
                            $("#tutDiv" + currentNo).find("#tutDiv" + currentNo + "Text").removeClass("disabled");
                            $("#tutDiv" + currentNo).find("#tutDiv" + currentNo + "Text").attr('course', currentCourse);
                            $("#tutDivDrop" + currentNo).html("");
                            $("#tutDiv" + currentNo + "Text").html("Tutorial "+currentNo+" <span class='caret'></span>&nbsp;");
                            $("#tutDiv" + currentNo + "Text").val("");
                                for(var tutNo = 0; tutNo<tutList.length; tutNo++ ){
                                    var $tuText = tutList[tutNo].fields['section']+" ";
                                    var newListItem = $("<li>");
                                    var newListLink = $("<a>").attr('id', 'lectNo'+tutNo);
                                    newListLink.attr('href','#');
                                    newListLink.addClass('two');
                                    newListLink.attr('number', currentNo);
                                    newListLink.attr('tut',tutList[tutNo].fields['section']);
                                    newListLink.attr('course',tutList[tutNo].fields['course']);
                                    newListLink.attr('pk',tutList[tutNo].pk);
                                    newListLink.attr('value',tutList[tutNo].pk);
                                    newListLink.text($tuText);
                                    newListLink.bind("click", function () {
                                        console.log("tut");
                                        //this changes the text and value of the tut dropdown after a click
                                        $("#tutDiv" + currentNo + "Text").text($(this).text());
                                        $("#tutDiv" + currentNo + "Text").val($(this).text());
                                        $("#tutInput" + currentNo).val($(this).text());
                                        //end of that
                                    });
                                    newListItem.append(newListLink);
                                    $("#tutDrop" + currentNo).append(newListItem);
                                }
                                //tutorial list populated
                            }
                            else{
                            $("#tutDiv" + currentNo).find("#tutDiv" + currentNo + "Text").addClass("disabled");
                            $("#tutDiv" + currentNo).find("#tutDiv" + currentNo + "Text").attr('course', currentCourse);
                            $("#tutDivDrop" + currentNo).html("");
                            $("#tutDiv" + currentNo + "Text").html("Tutorial "+currentNo+" <span class='caret'></span>&nbsp;");
                            $("#tutDiv" + currentNo + "Text").val("");
                            }
                            //end of tutorial handling

                            //checking for labs and doing what needs to be done to the lab lists accordingly
                            if(labList.length != 0 ) {
                            $("#labDiv" + currentNo).find("#labDiv" + currentNo + "Text").removeClass("disabled");
                            $("#labDiv" + currentNo).find("#labDiv" + currentNo + "Text").attr('course', currentCourse);
                            $("#labDivDrop" + currentNo).html("");
                            $("#labDiv" + currentNo + "Text").html("Lab "+currentNo+" <span class='caret'></span>&nbsp;");
                            $("#labDiv" + currentNo + "Text").val("");
                                for(var labNo = 0; labNo<labList.length; labNo++ ){
                                    var $labText = labList[labNo].fields['section']+" ";
                                    var newListItem = $("<li>");
                                    var newListLink = $("<a>").attr('id', 'lectNo'+labNo);
                                    newListLink.attr('href','#');
                                    newListLink.addClass('three');
                                    newListLink.attr('number', currentNo);
                                    newListLink.attr('lab',labList[labNo].fields['section']);
                                    newListLink.attr('course',labList[labNo].fields['course']);
                                    newListLink.attr('pk',labList[labNo].pk);
                                    newListLink.attr('value',labList[labNo].pk);
                                    newListLink.text($labText);
                                    newListLink.bind("click", function () {
                                        console.log("lab");
                                        //this changes the text and value of the lab dropdown after a click
                                        $("#labDiv" + currentNo + "Text").text($(this).text());
                                        $("#labDiv" + currentNo + "Text").val($(this).text());
                                        $("#labInput" + currentNo).val($(this).text());
                                        //end of that
                                    });
                                    newListItem.append(newListLink);
                                    $("#labDrop" + currentNo).append(newListItem);
                                }
                                //lab list populated
                            }
                            else{
                            $("#labDiv" + currentNo).find("#labDiv" + currentNo + "Text").addClass("disabled");
                            $("#labDiv" + currentNo).find("#labDiv" + currentNo + "Text").attr('course', currentCourse);
                            $("#labDivDrop" + currentNo).html("");
                            $("#labDiv" + currentNo + "Text").html("Lab "+currentNo+" <span class='caret'></span>&nbsp;");
                            $("#labDiv" + currentNo + "Text").val("");
                            }
                            //end of lab handling

                        });
                        newListItem.append(newListLink);
                        $("#lectDrop" + currentNo).append(newListItem);
                    }
                    //lecture list populated
                },
                failure: function (data) {
                    alert('Got an error');
                }

            });

            //AJAX END

        });
    });


    /* //testing tools
    console.log("IN");
    $('#Testerstest').html("EYY LMAO");
    */

</script>

<div class="container body-content">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <button class="testbutton">YEEEEE</button>
            <h1 id="Testerstest"></h1>

            <form class="form-group" method="post" action="/schedule_generator/">
                {% csrf_token %}

                <h2 id="changeForever">Select Courses for Year {{ currentYear }} Semester ({{ currentSemester }}):</h2>
                {% for slot in max_courses %}
                    {% cycle "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" as order silent %}
                    <div class="bigdiv giveSpace1">
                        <div id="classDiv{{ order }}" class="dropdown" style="position:relative">
                            <!-- Javascript will replace this and send it as POST-->
                            <input id="classInput{{ order }}" type="hidden" name="option" value=""/>
                            <a id="classDiv{{ order }}Text" href="#"
                               class="btn btn-primary dropdown-toggle giveSpace"
                               data-toggle="dropdown" data-bind="label" name="cour{{ order }}"
                               value="">Course {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="zero" href="#" number="{{ order }}"
                                           course="{{ course }}" deptnum="{{ course.deptnum }}">{{ course.deptnum }}
                                            : {{ course.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>

                        <div id="lectDiv{{ order }}" class="dropdown" style="position:relative">
                            <!-- Javascript will replace this and send it as POST-->
                            <input id="lectInput{{ order }}" type="hidden" name="option" value=""/>
                            <a id="lectDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="lect{{ order }}">Lecture {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul id="lectDrop{{ order }}" class="dropdown-menu">
                                <!--got rid of ugly (beautiful) loop. Now managed by AJAX (spaghetti).-->
                            </ul>
                        </div>

                        <div id="tutDiv{{ order }}" class="dropdown" style="position:relative">
                            <!-- Javascript will replace this and send it as POST-->
                            <input id="tutInput{{ order }}" type="hidden" name="option" value=""/>
                            <a id="tutDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="tut{{ order }}">Tutorial {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul id="tutDrop{{ order }}" class="dropdown-menu">
                                <!--got rid of ugly (beautiful) loop. Now managed by AJAX (spaghetti).-->
                            </ul>
                        </div>

                        <div id="labDiv{{ order }}" class="dropdown" style="position:relative">
                            <!-- Javascript will replace this and send it as POST-->
                            <input id="labInput{{ order }}" type="hidden" name="option" value=""/>
                            <a id="labDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="lab{{ order }}">Lab {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                <!--got rid of ugly (beautiful) loop. Now managed by AJAX (spaghetti).-->
                            </ul>
                        </div>
                    </div>
                    <div class="blank">&nbsp;</div>
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>
        <div class="col-xs-1"></div>
    </div>
    <br>
    {% include "app/footer.html" %}
</div>
</body>
</html>