<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Echelon Planner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>

</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<script type="text/javascript">

    //this script allows the dropdown to save the selected option as its label and make a new button.
    $(function () {
        $(".zero").click(function () {
            var xx = $(this).attr("number") - 1;
            var yy = $(this).attr("course")
            $("#classDiv" + $(this).attr("number")).find("#classDiv" + $(this).attr("number") + "Text").text($(this).text());
            $("#classDiv" + $(this).attr("number")).find("#classDiv" + $(this).attr("number") + "Text").val($(this).text());


            $("#lectDiv" + $(this).attr("number")).find("#lectDiv" + $(this).attr("number") + "Text").removeClass("disabled");
            $("#lectDiv" + $(this).attr("number")).find("#lectDiv" + $(this).attr("number") + "Text").attr('course', yy);

            $("#lectDiv" + $(this).attr("number") + " .one").each(function (i) {
                $(this).attr('lect',yy.lecture_set.all()[i]);
                $(this).text(yy.lecture_set.all()[i]); //need to add lect. section instead of just name
                $(this).val(yy.lecture_set.all()[i]); //need to add lect. section instead of just name

            });

            //if(yy.hasTutorials())
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").removeClass("disabled");
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").attr('course', $(this).attr("course"));

            //if(yy.hasLabs())
            $("#labDiv" + $(this).attr("number")).find("#labDiv" + $(this).attr("number") + "Text").removeClass("disabled");
            $("#labDiv" + $(this).attr("number")).find("#labDiv" + $(this).attr("number") + "Text").attr('course', $(this).attr("course"));
        });
    });


    $(function () {
        $(".one").click(function () {
            var xx = $(this).attr("number") - 1;
            $("#lectDiv" + $(this).attr("number")).find("#lectDiv" + $(this).attr("number") + "Text").text($(this).text());
            $("#lectDiv" + $(this).attr("number")).find("#lectDiv" + $(this).attr("number") + "Text").val($(this).text());
        });
    });

    $(function () {
        $(".two").click(function () {
            var xx = $(this).attr("number") - 1;
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").text($(this).text());
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").val($(this).text());
        });
    });

    $(function () {
        $(".three").click(function () {
            var xx = $(this).attr("number") - 1;
            $("#labDiv" + $(this).attr("number")).find("#labDiv" + $(this).attr("number") + "Text").text($(this).text());
            $("#labDiv" + $(this).attr("number")).find("#labDiv" + $(this).attr("number") + "Text").val($(this).text());
        });
    });


</script>

<div class="container body-content">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">

            <form class="form-group" method="post" action="/schedule_generator/">
                {% csrf_token %}
                {% for slot in max_courses %}
                    {% cycle "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" as order silent %}
                    <div class="row{{ order }} giveSpace1">
                        <div id="classDiv{{ order }}" class="dropdown" style="position:relative">

                            <a id="classDiv{{ order }}Text" href="#" class="btn btn-primary dropdown-toggle giveSpace"
                               data-toggle="dropdown" data-bind="label" name="cour{{ order }}" value="">Course {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="zero" href="#" number="{{ order }}"
                                           course= {{ course }}>{{ course.deptnum }} : {{ course.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>

                        <div id="lectDiv{{ order }}" class="dropdown" style="position:relative">

                            <a id="lectDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="lect{{ order }}">Lecture {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="one" href="#" number="{{ order }}">A</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="tutDiv{{ order }}" class="dropdown" style="position:relative">

                            <a id="tutDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="tut{{ order }}">Tutorial {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="two" href="#" number="{{ order }}">B</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="labDiv{{ order }}" class="dropdown" style="position:relative">

                            <a id="labDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="lab{{ order }}">Lab {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="three" href="#" number="{{ order }}">C</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>