<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Echelon Planner</title>
    {% load staticfiles %}
    {% load cycle from future %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>

</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<script type="text/javascript">

    $(function () {
        $(".testbutton").click(function () {

            //AJAX START

            $.ajax({
                type: 'post',
                url: "/nullhandler/",
                dataType: 'html',
                data: {
                    'course': 'SOEN228',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {

                    //NEW FORMAT
                    //1. Unpack the JSON dictionary (gives back deptnum, lectures, tutorials, labs)
                    var newObj = jQuery.parseJSON(data.valueOf());
                    //2. Unpack the SECOND JSON from hell (gives back the array of Django Models)
                    var newNewObj = jQuery.parseJSON(newObj['lectures']);
                    $('#Testerstest').html(newObj['deptnum'] + ": Hey ");
                    //console.log(newObj.length+ " " +newNewObj.type + " ")
                },
                failure: function (data) {
                    alert('Got an error');
                }

            });
            return false;


            //AJAX END
        });

    });


    //this script allows the dropdown to save the selected option as its label and make a new button.

    $(function () {
        $(".zero").click(function () {
            var xx = $(this).attr("number");
            var yy = $(this).attr("course");
            var zz;
            //AJAX START

            $.ajax({
                type: 'post',
                url: "/nullhandler/",
                dataType: 'html',
                data: {
                    'course': $(this).attr('deptnum'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data) {
                    var newObj = jQuery.parseJSON(data.valueOf());

                    $("#lectDiv" + xx + "Text").attr("pk", "" + zz);
                    //1. Unpack the JSON dictionary (gives back deptnum, lectures, tutorials, labs)
                    var courseData = jQuery.parseJSON(data.valueOf());
                    //2. Unpack the SECOND JSON from hell (gives back the array of Django Models)
                    var lectureList = jQuery.parseJSON(courseData['lectures']);
                    var tutList = jQuery.parseJSON(courseData['tutorials']);
                    var labList = jQuery.parseJSON(courseData['labs']);
                    $("#lectDrop" + xx).html("");
                    $("#lectDiv" + xx + "Text").html("Lecture 1 <span class='caret'></span>&nbsp;");
                    $("#lectDiv" + xx + "Text").val("");
                    for (var i = 0; i < lectureList.length; i++) {
                        var $inside = "id='lectNo"+ i +"' number2='" + lectureList[i].fields['section'] + "'" + " href='#' class='one' number='" + xx + "'" + "lect='" + lectureList[i].fields['section'] + "'" + "course='" + lectureList[i].fields['course'] + "'" + "pk='" + lectureList[i].pk + "'" + "value='" + lectureList[i].pk + "'";
                        var $leText = lectureList[i].fields['section']+" ";
                        $("#lectDrop" + xx).append("<li><a " + $inside + ">" + $leText + "</a></li>").bind("click", function (event) {
                            //i never changes it's always the highest value, need to send a variable here...
                            console.log("IN: "+i+" | "+ $(this).text());
                            $('#Testerstest').html($("#lectDrop"+xx).children("a").text());
                            $("#lectDiv" + xx + "Text").text($(this).text());
                            $("#lectDiv" + xx + "Text").val($(this).text());
                            /*
                            //this loads the little dropdowns need to modify to iterate through all lectures
                            $(".two").each(function () {
                                $(this).attr('lect', $leText);
                                $(this).attr('lect', $leText);
                                $(this).text($leText); //need to add lect. section instead of just name
                                $(this).val($leText); //need to add lect. section instead of just name
                            });
                            console.log(newNewObj[3].fields['prof']);
                            //if(yy.lecture_set.all().[zz].hasTutorials() ) { //was playing with this last time
                            $("#tutDiv" + xx).find("#tutDiv" + xx + "Text").removeClass("disabled");
                            $("#tutDiv" + xx).find("#tutDiv" + xx + "Text").attr('course', yy);
                            //add for-each loop here
                            //}
                            */
                        });
                    }
                },
                failure: function (data) {
                    alert('Got an error');
                }

            });

            //AJAX END

            $("#classDiv" + xx).find("#classDiv" + xx + "Text").text($(this).text());
            $("#classDiv" + xx).find("#classDiv" + xx + "Text").val($(this).text());
            $("#classInput" + xx).val($(this).attr("deptnum"));

            $("#lectDiv" + xx).find("#lectDiv" + xx + "Text").removeClass("disabled");
            $("#lectDiv" + xx).find("#lectDiv" + xx + "Text").attr('course', yy);

            //if(yy.hasLabs()) //this gets moved to .one click function and to .two click function accordingly
            $("#labDiv" + xx).find("#labDiv" + xx + "Text").removeClass("disabled");
            $("#labDiv" + xx).find("#labDiv" + xx + "Text").attr('course', yy);
        });
    });

    $(function () {
        $(".one").click(function () {
            console.log("IN");
            $('#Testerstest').html("EYY LMAO");
            var xx = $(this).attr("number") - 1;
            var yy = $(this).attr('course');
            var zz = $(this).attr('lectIndex');

            $("#lectDiv" + $(this).attr("number")).find("#lectDiv" + $(this).attr("number") + "Text").text($(this).text());
            $("#lectDiv" + $(this).attr("number")).find("#lectDiv" + $(this).attr("number") + "Text").val($(this).text());


            //this loads the little dropdowns need to modify to iterate through all lectures
            $(".two").each(function () {
                $(this).attr('lect', newObj[0].pk);
                $(this).text(newObj[0].pk); //need to add lect. section instead of just name
                $(this).val(newObj[0].pk); //need to add lect. section instead of just name
            });
            console.log(newNewObj[3].fields['prof']);
            //if(yy.lecture_set.all().[zz].hasTutorials() ) { //was playing with this last time
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").removeClass("disabled");
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").attr('course', $(this).attr("course"));
            //add for-each loop here
            //}
        });


    });

    $(function () {
        $(".two").click(function () {
            var xx = $(this).attr("number") - 1;
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").text($(this).text());
            $("#tutDiv" + $(this).attr("number")).find("#tutDiv" + $(this).attr("number") + "Text").val($(this).text());
        });
    });

    $(function () {
        $(".three").click(function () {
            var xx = $(this).attr("number") - 1;
            $("#labDiv" + $(this).attr("number")).find("#labDiv" + $(this).attr("number") + "Text").text($(this).text());
            $("#labDiv" + $(this).attr("number")).find("#labDiv" + $(this).attr("number") + "Text").val($(this).text());
        });
    });


</script>

<div class="container body-content">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <button class="testbutton">YEEEEE</button>
            <h1 id="Testerstest"></h1>

            <form class="form-group" method="post" action="/schedule_generator/">
                {% csrf_token %}

                <h2 id="changeForever">Select Courses for Year {{ currentYear }} Semester {{ currentSemester }}:</h2>
                {% for slot in max_courses %}
                    {% cycle "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" as order silent %}
                    <div class="bigdiv giveSpace1">
                        <div id="classDiv{{ order }}" class="dropdown" style="position:relative">
                            <!-- Javascript will replace this and send it as POST-->
                            <input id="classInput{{ order }}" type="hidden" name="option" value=""/>
                            <a id="classDiv{{ order }}Text" href="#"
                               class="btn btn-primary dropdown-toggle giveSpace"
                               data-toggle="dropdown" data-bind="label" name="cour{{ order }}"
                               value="">Course {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="zero" href="#" number="{{ order }}"
                                           course="{{ course }}" deptnum="{{ course.deptnum }}">{{ course.deptnum }}
                                            : {{ course.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>

                        <div id="lectDiv{{ order }}" class="dropdown" style="position:relative">

                            <a id="lectDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="lect{{ order }}">Lecture {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul id="lectDrop{{ order }}" class="dropdown-menu">
                                <!--got rid of ugly loop. Now managed by AJAX.-->
                            </ul>
                        </div>

                        <div id="tutDiv{{ order }}" class="dropdown" style="position:relative">

                            <a id="tutDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="tut{{ order }}">Tutorial {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="two" href="#" number="{{ order }}">B</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="labDiv{{ order }}" class="dropdown" style="position:relative">

                            <a id="labDiv{{ order }}Text" href="#"
                               class="fauxbtn btn btn-primary dropdown-toggle giveSpace disabled"
                               data-toggle="dropdown" data-bind="label" name="lab{{ order }}">Lab {{ order }}
                                <span class="caret"></span>&nbsp;</a>
                            <ul class="dropdown-menu">
                                {% for course in feasable_courses %}
                                    <li>
                                        <a class="three" href="#" number="{{ order }}">C</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="blank">&nbsp;</div>
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>

        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
</body>
</html>