<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    {% load cycle from future %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>

</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<script type="text/javascript">

</script>

<div class="container body-content">

    <!--Title Row -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
{#            <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>#}
            <h1>Automatic Schedule Generation</h1>
            <h2 id="changeForever">Courses for Year {{ currentYear }} - {{ currentSemester }} Semester:</h2>
            {% if message %}
            <p style="color: #ff171c">{{ message }}</p>
            {% endif %}
        </div>
        <div class="col-md-1"></div>
    </div>



    <form class="form-group" method="post" action="/sched_gen_auto/">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <h2>Preferences Selection</h2>

                <div class="row container">
                    <div class="col-md-4">
                        <p>Day of the week off</p>
                        <ul class="list-inline">
                            <li><input type="checkbox" name="daysOff" value="M"> Monday</li>
                            <li><input type="checkbox" name="daysOff" value="T"> Tuesday</li>
                            <li><input type="checkbox" name="daysOff" value="W"> Wednesday</li>
                            <li><input type="checkbox" name="daysOff" value="J"> Thursday</li>
                            <li><input type="checkbox" name="daysOff" value="F"> Friday</li>
                            <li><input type="checkbox" name="daysOff" value="S"> Saturday</li>
{#                            <input type="hidden" name="daysOff" value="D">#}
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Specific time of day</p>
                        <ul class="list-inline">
                            <li><input type="checkbox" name="timeOfDay" value="morning" checked> Morning (08:00 to 12:00)</li>
                            <li><input type="checkbox" name="timeOfDay" value="afternoon" checked> Afternoon (12:00 to 18:00)</li>
                            <li><input type="checkbox" name="timeOfDay" value="evening" checked> Evening (18:00 to 23:00)</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>Location of Preference</p>
                        <ul class="list-inline">
                            <li><input type="checkbox" name="location" value="SGW" checked> SGW (Downtown)</li>
                            <li><input type="checkbox" name="location" value="LOY" checked> Loyola (NDG)</li>
                            <li><input type="checkbox" name="location" value="Online" checked> Online </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- Picker Row-->
        <div class="row">
                {% for slot in max_courses %}
                <div class="col-md-2"> {# We expect there to be 5 classes at max. #}
                        <h2>Course {{ forloop.counter }}</h2>
                        <select class="form-control inline-group" name="courses">
                            <option selected>COURSE</option>
                            {% for course in feasable_courses %}
                            <option value="{{ course.deptnum }}">{{  course.deptnum }}:{{ course.name }}</option>
                            {% endfor %}
                        </select>

                </div>
                {% endfor %}

        </div>
        <br>
        <!-- Submit! -->
        <div class="col-md-12 text-center">
            <input type="hidden" value="{{ currentSemester }}" name="semester">
            <input type="hidden" value="{{ currentYear }}" name="year">
            <button class="btn btn-lg btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Submit and Load Schedule</button>
        </div>

    </form>
    <br>
    {% include "app/footer.html" %}

<div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Your New Schedule is being generated</h4>
      </div>
      <div class="modal-body text-center">
          <p><img src="{% static 'app/images/loading.gif' %}"></p>
        <p>Please wait while we search the galaxy for all possible schedules.</p>
        <p>This may take a while, but, do not hesitate. You will be redirected when we're done.</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>



</body>
</html>