<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load the Navbar at the top of the page.-->
{% include "app/navbar.html" %}
{% csrf_token %}
<script>
    {# code for viewing multiple schedules #}
{#    $(function () {#}
{#        $(".vortex0").click(function () {#}
{#            $("#yearDiv").find("#year").text($(this).text());#}
{#            $("#yearDiv").find("#year").attr("name",$(this).text());#}
{#            $("#semesterDiv").removeClass("hidden");#}
{#            $("#surprise").addClass("hidden");#}
{#        });#}
{#    });#}
{#       $(function () {#}
{#        $(".vortex1").click(function () {#}
{##}
{#            $("#semesterDiv").find("#semester").text($(this).text());#}
{#            $("#semesterDiv").find("#semester").attr("name",$(this).text());#}
{#            $("#changeForever").text("Select Courses for Year " + $("#year").attr("name") +" ("+$("#semester").attr("name")+"):");#}
{#            $("#surprise").removeClass("hidden");#}
{#        });#}
{#    });#}

    {# Code to dynamically populate table, td by td.#}
{#    $(document).ready( function(){#}
{#        var table = document.getElementById("schedule_table");#}
{#        var rows = $('#schedule_table > tbody > tr');#}
{#        console.log(rows);#}
{#        rowLength = rows.length;#}
{#        $('#schedule_table > tbody > tr').eq(0).append('<td rowspan="25"></td>');#}
{#        $('#schedule_table > tbody > tr').eq(0).append('<td rowspan="34"></td>');#}
{#        $('#schedule_table > tbody > tr').eq(2).append('<td>SomeClass</td>');#}
{#        $('#schedule_table > tbody > tr').append('<td>SomeOtherClass</td>');#}
{#        $('#schedule_table > tbody > tr').append('<td>D</td>');#}
{#        for ( var i =0; i<rowLength; i++) {#}
{#            console.log(rows[i]);#}
{#        }#}
{#        console.log(table);#}
{#    });#}

</script>
<div class="container body-content">
    <div class="row" >
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

        <div class="blank">
        <h2>Select Year / Semester</h2>
            <div class="btn-group blank" data-toggle="buttons">
               <div id="yearDiv" class="dropdown blank" style="position:relative">

                                    <a id="year" href="#" class="btn btn-primary dropdown-toggle giveSpace"
                                       data-toggle="dropdown" data-bind="label" name="selectYear"
                                       value="">Select Year
                                        <span class="caret"></span>&nbsp;</a>
                                    <ul class="dropdown-menu">
                                        {% for year in max_years %}
                                            <li>
                                                <a class="vortex0" href="#" name="{{ semester }}">{{ year }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
               </div>

                <div id="semesterDiv" class="dropdown hidden blank" style="position:relative">
                                     <a id="semester" href="#" class="btn btn-primary dropdown-toggle giveSpace"
                                       data-toggle="dropdown" data-bind="label" name="selectSemester"
                                       value="">Select Semester
                                        <span class="caret"></span>&nbsp;</a>
                                    <ul class="dropdown-menu">
                                        {% for semester in semesterCycle %}
                                            <li>
                                                <a class="vortex1" href="#" name="{{ semester }}">{{ semester }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                </div>
            </div>
        </div>

        {# Used to be class="hidden" for multiview #}
        <div id="surprise">
                    <h2 id="changeForever">Current Semester Schedule</h2>
                    <table class="table table-hover" id="schedule_table">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th class="mon">Monday</th>
                            <th class="tue">Tuesday</th>
                            <th class="wed">Wednesday</th>
                            <th class="thu">Thursday</th>
                            <th class="fri">Friday</th>
                            <th class="sat">Saturday</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for time in timeSlots %}
                            <tr>
                                <td id="time">{{ time }}</td>
        {#                    {% if forloop.first %}#}
        {#                        <td rowspan="{{ timeSlots|length }}" class="tue">Empty Classes</td>#}
        {#                    {% endif %}#}
        {#                        <td rowspan="{{ timeSlots|length }}"></td>#}
        {#                        <td rowspan="2">Example</td>#}

                            {# Populate day by day #}
                            {% for class in schedule.Monday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Tuesday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Wednesday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Thursday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Friday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {# Test Code - TODO: Cleanup #}
                                {% for day in schedule %}
                                    {% if day == "Monday" %}
                                        {% for class in schedule.Monday %}
{#                                            <td>{{ class }}</td>#}
                                            {% if class.ActualStart == time %}
{#                                                <td>YES</td>#}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if day == "Tuesday" %}
                                        {% for class in schedule.Tuesday %}
{#                                            <td>{{ class }}</td>#}
                                            {% if class.ActualStart == time %}
{#                                                <td>YES</td>#}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if day == "Wednesday" %}
                                        {% for class in schedule.Wednesday %}
{#                                            <td>{{ class }}</td>#}
                                            {% if class.ActualStart == time %}
{#                                                <td>YES</td>#}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if day == "Thursday" %}
                                        {% for class in schedule.Thursday %}
{#                                            <td>{{ class }}</td>#}
                                            {% if class.ActualStart == time %}
{#                                                <td>YES</td>#}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if day == "Friday" %}
                                        {% for class in schedule.Friday %}
{#                                            <td>{{ class }}</td>#}
                                            {% if class.ActualStart == time %}
{#                                                <td>YES</td>#}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if day == "Saturday" %}
                                        {% for class in schedule.Saturday %}
{#                                            <td>{{ class }}</td>#}
                                            {% if class.ActualStart == time %}
{#                                                <td>YES</td>#}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}


{#                                    <td>{{ day }}</td>#}
{#                                    {% if class.startTime ==  time%}#}
{#                                        <td colspan = {{class.timeSlotLength }} class="{% cycle "mon" "tue" "wed" "thu" "fri" "sat" as days%}">#}
{#                                        {% if days == class.day %}#}
{#                                            {{ class.schedInfo }}#}
{#                                            {% endif %}#}
{#                                        </td>#}
{#                                    {% endif %}#}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
        <div class="col-xs-1"></div>
    </div>
</div>
</body>
</html>
