<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/css2pdf/xepOnline.jqPlugin.js' %}"></script>


</head>

<body>
<!-- Load the Navbar at the top of the page.-->
{% include "app/navbar.html" %}


<script type="text/javascript">
// NOTE: PUTTING JAVASCRIPT ON HTML IS HORRIBLE, HORRIBLE PRACTICE

    //Currently, this function knows which table row was selected and can read its ID
    $('body').on('click','td', function() {
        if(this.id)
            window.location.href = '/browse_specific_course/'+this.id+'/'
        });

{#    $('.mytdclass').click( function(){#}
{#        window.location.href = '/browse_specific_course/'+this.attr('id')+'/';#}
        {# Do something here to redirect #}
{#    });#}

</script>
<div class="container body-content">
    <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-10">

        {% comment %}
        Section below used to describe the dropdown buttons that showed the table. This may be used later.
{#        <div class="blank">#}
{#        <h2>Select Year / Semester</h2>#}
{#            <div class="btn-group blank" data-toggle="buttons">#}
{#               <div id="yearDiv" class="dropdown blank" style="position:relative">#}
{##}
{#                                    <a id="year" href="#" class="btn btn-primary dropdown-toggle giveSpace"#}
{#                                       data-toggle="dropdown" data-bind="label" name="selectYear"#}
{#                                       value="">Select Year#}
{#                                        <span class="caret"></span>&nbsp;</a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        {% for year in max_years %}#}
{#                                            <li>#}
{#                                                <a class="vortex0" href="#" name="{{ semester }}">{{ year }}</a>#}
{#                                            </li>#}
{#                                        {% endfor %}#}
{#                                    </ul>#}
{#               </div>#}
{##}
{#                <div id="semesterDiv" class="dropdown hidden blank" style="position:relative">#}
{#                                     <a id="semester" href="#" class="btn btn-primary dropdown-toggle giveSpace"#}
{#                                       data-toggle="dropdown" data-bind="label" name="selectSemester"#}
{#                                       value="">Select Semester#}
{#                                        <span class="caret"></span>&nbsp;</a>#}
{#                                    <ul class="dropdown-menu">#}
{#                                        {% for semester in semesterCycle %}#}
{#                                            <li>#}
{#                                                <a class="vortex1" href="#" name="{{ semester }}">{{ semester }}</a>#}
{#                                            </li>#}
{#                                        {% endfor %}#}
{#                                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    {% endcomment %}
        {# Used to be class="hidden" for multiview #}
        <div id="surprise" class="echelonpanel">
                    <h2 id="changeForever">Current Semester Schedule</h2>
                    <a href="/schedule_print_view">Print View</a>
                    <table class="table" id="schedule_table">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th class="mon">Monday</th>
                            <th class="tue">Tuesday</th>
                            <th class="wed">Wednesday</th>
                            <th class="thu">Thursday</th>
                            <th class="fri">Friday</th>
                            <th class="sat">Saturday</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for time in timeSlots %}
                            <tr>
                                <td id="time">{{ time }}</td>
                            {# TODO: we can have some fancy manipulation of format in our rows... #}
                            {# Populate day by day #}
                            {% for class in schedule.Monday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}" class="mytdclass" id="{{ class.Course }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Tuesday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}" class="mytdclass" id="{{ class.Course }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Wednesday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}" class="mytdclass" id="{{ class.Course }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Thursday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}" class="mytdclass" id="{{ class.Course }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% for class in schedule.Friday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}" class="mytdclass" id="{{ class.Course }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% for class in schedule.Saturday %}
                                {% if time == class.RoundedStart %}
                                    {% if class.Course != None %}
                                <td rowspan="{{ class.Duration }}" class="mytdclass" id="{{ class.Course }}">{{ class.Course }} {{ class.Type }}</td>
                                    {% else %}
                                <td rowspan="{{ class.Duration }}" class=""></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
        <div class="col-md-1"></div>
    </div>
    <br>
    {% include "app/footer.html" %}
</div>
</body>
</html>
