<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concordia YouSched</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/npm.js' %}"></script>
</head>

<body>
<!-- Load the Navbar at the top of the page.-->
{% include "app/navbar.html" %}

<script type="text/javascript">

    //this script allows the dropdown to save the selected option as its label.
    $(document.body).on('click', '.dropdown-menu li', function (event) {

        var $target = $(event.currentTarget);

        $target.closest('.btn-group')
                .find('[data-bind="label"]').text($target.text())
                .end()
                .children('.dropdown-toggle').dropdown('toggle');

        return false;

    });</script>

<div class="container body-content">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <form class="form" method="post" action="/schedule_make/">
                {% csrf_token %}
                <h1 class="form">Schedule Builder</h1>

                <button class="btn btn-lg btn-primary btn-block" type="button" id="automaticGenerator">AIN'T NOBODY GOT
                    TIME FOR THAT!
                </button>

                <h2>Select Elective Courses</h2>
                {% for number in numberOfElectives %}
                    <label for="totalNumber" class="control-label input-group">Elective {% cycle "1" "2" "3" "4" "5" "6" "7" "8" "9" "10" "11" "12" as order%}:</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle form-control"
                                data-toggle="dropdown">
                            <span name = "choice" data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for elective in availableElectives %}
                                <li><a href="#">{{ elective.deptcode }} {{ elective.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
</body>
</html>