<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}

{#notify of some error if needed#}
{% if message %}
    <div class="text-center">
        <p><b>{{ message }}</b></p>
    </div>
{% endif %}

<div class="container body-content" id="main">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container">
                   <div class="row echelonpanel ">
                       <h2>Student Record</h2>
                        <hr>
                       <p>Full Name: {{ firstname }} {{ lastname }}</p>
                       <div class="col-md-4 list-inline">
                           <ul class="list-inline">
                               <li>Program: {{ academicProgram }}</li>
                               <li>GPA: {{ gpa }}</li>
                           </ul>
                           <ul class="list-inline">
                              <li>Current Standing: {{ currentStanding }}</li>
                              <li>Current Credits: {{ currentCredits }}</li>
                           </ul>
                           <ul class="list-inline">
                               <li>Remaining Credits: {{ remainingCredits }}</li>
                           </ul>
                       </div>
                       <div class="col-md-8 list-inline">
                           <p>Courses Taken ({{ coursesTaken|length }}):</p>
                            {% if coursesTaken %}
                           <ul class="list-inline">
                               {% for course in coursesTaken %}
                               <li>{{ course.deptnum }}: {{ course.name }}</li>
                               {% endfor %}
                           </ul>
                            {% else %}
                            <p>You have not taken any courses yet!</p>
                            {% endif %}

                       </div>

                   </div>
                    <br>
                   <div class="row">
                       <h3>User Schedules</h3>
                       <table class="table table-hover">
                           <tr><th>Current Schedule</th></tr>
                           {% if mainSchedule %}
                               <tr>
                                   <td>{{ mainSchedule.year }} - {{ mainSchedule.semester }}</td>
                                   <td><a href="/schedule_view/"><button class="btn-sm">View</button></a></td>
                                   <td><a href="/work_in_progress/"><button class="btn-sm">Edit</button></a></td>
                                   <td><a href="/work_in_progress/"><button class="btn-sm">Delete</button></a></td>
                               </tr>
                           {% else %}
                               <tr>
                                   <td></td>
                                   <td>No Main Schedule to Display. Create one <a href="/sched_gen_1/">Now!</a> </td>
                               </tr>
                           {% endif %}
                       </table>
                       <table class="table table-hover">
                           <tr><th>Schedules Saved</th></tr>
                           {% if scheduleCache %}
                               {% for schedule in scheduleCache %}
                                   <tr>
                                       <td>{{ schedule.year }} - {{ schedule.semester }}</td>
                                       <!-- TODO: FILL IN BUTTON FUNCTIONALITY!!!! -->
                                       <td><a href="/schedule_view/saved/{{ schedule.pk }}"><button class="btn-sm">View</button></a></td>
                                       <td><a href="/work_in_progress/"><button class="btn-sm">Edit</button></a></td>
                                       <td><a href="/work_in_progress/"><button class="btn-sm">Delete</button></a></td>
                                   </tr>
                               {% endfor %}
                           {% else %}
                               <tr>
                                   <td></td>
                                   <td>No Saved Schedules</td>
                               </tr>
                           {% endif %}
                       </table>
                   </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
    {% include "app/footer.html" %}
</div>
</body>
</html>