<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concordia YouSched</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.min.js' %}"></script>

</head>

<body>

{% include "app/navbar.html" %}

{% if alternate %} <!--this is for non-student users not covered in the main user profile page -->
    {% include alternate %}
{% else %}
    {% include "app/user_profile_main.html" %}
{% endif %}


</body>
</html>