{% load staticfiles %}
<div class="container body-content" id="test">

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="container echelonpanel" id="loginblock">
                <h1>Account Settings</h1>

                <p>First Name: {{firstname}}</p>
                <p>Last Name: {{lastname}}</p>
                <p>Email: {{email}} </p>

                <a class="btn btn-lg btn-primary btn-block" href="/change_pass">Change Password</a>
                <a class="btn btn-lg btn-primary btn-block" href="/change_email">Change Email</a>

                <p>Note: if you want to change your name or last name, talk to our excellent staff!</p>
                <hr>

                <h1>User Details</h1>
                <p>Home Phone Number: {{homephone}}</p>
                <p>Home Phone Number: {{cellphone}}</p>
                <p>Address: {{address}}</p>
                <a class="btn btn-lg btn-primary btn-block" href="/change_details">Change Details</a>
                <hr>

                <h2>Academic Record</h2>
                <a class="btn btn-lg btn-primary btn-block" href="/student_record">View Academic Record</a>


                {% comment %}
                {# We need to put the Program Directors Power here #}
                {% if user.professor %}
                    <p>Engineer status: {{isengineer}}</p>
                {% endif %}
                {% endcomment %}

                {% if user.programdirector %}
                    <hr>
                    <h2>Program Director Archive</h2>
                    <p>Department: {{dept}} </p>
                {% endif %}



            </div>

        </div>
        <div class="col-xs-3"></div>
    </div>
    <br>
    {% include "app/footer.html" %}

</div>