<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concordia YouSched</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>


</head>

<body>

{% include "app/navbar.html" %}

<!-- notify of some error -->

{% if message %}
    <div class="text-center">
        <p><b>{{ message }}</b></p>
    </div>
{% endif %}


<!--this is for dynamically the main user profile page -->
{% if alternate %}
    {% include alternate %}
{% else %}
    {% include "app/user_profile_main.html" %}
{% endif %}


</body>
</html>