<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Concordia YouSched</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.min.js' %}"></script>

</head>

<body>

{% include "app/navbar.html" %}

<div class="container body-content" id="test">
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><img class="bg-primary"
                                   src="{% static 'app/images/concordia_coa.png' %}"
                                   id=CoA
                                   alt="Magister Dixit">

            <div class="container" id="loginblock">
                    <h1>Account Settings</h1>
                    {% if hasMessage %}
                        <p>{{ message }}</p>
                    {% endif %}

                    {% if hasFName %}
                        <p>First Name:{{FName}}</p>
                    {% else %}
                        <p>Who are you?</p>
                    {% endif %}

                    {% if hasLName %}
                        <p>Last Name:{{LName}}:</p>
                    {% else %}
                        <p>Who are you?</p>
                    {% endif %}

                    {% if hasEmail %}
                        <p>Email:{{Email}}:</p>
                    {% else %}
                        <p>You don't have an email?</p>
                    {% endif %}

                    {% if hasPass %}
                        <p>Password:{{Pass}}:</p>
                    {% else %}
                        <p>You don't have password?</p>
                    {% endif %}

                    <a class="btn btn-lg btn-primary btn-block" href="/changePass">Change Password</a>
                    <a class="btn btn-lg btn-primary btn-block" href="/changeEmail">Change Email</a>

                    <p>Note: if you want to change your name or last name, talk to our excellent staff at a campus near you.</p>

                    <h1>User Details</h1>

                    {% if hasHomePhone %}
                        <p>Home Phone Number:{{HomePhone}}</p>
                    {% else %}
                        <p>You don't have a home phone number?</p>
                    {% endif %}

                    {% if hasCellPhone %}
                        <p>Home Phone Number:{{CellPhone}}</p>
                    {% else %}
                        <p>You don't have a cellphone number?</p>
                    {% endif %}

                    {% if hasAddress %}
                        <p>Address:{{Address}}</p>
                    {% else %}
                        <p>You don't have an address?</p>
                    {% endif %}

                    {% if isProf %}
                        <p>Engineer status:{{isEng}}:</p>
                    {% endif %}

                    {% if isDirector %}
                        {% if hasDept %}
                        <p>Department:{{Dept}}:</p>
                        {% else %}
                        <p>You are not assigned to a department.</p>
                        {% endif %}
                    {% endif %}

                    <a class="btn btn-lg btn-primary btn-block" href="/changeDetails">Change Details</a>

            </div>

        </div>
        <div class="col-xs-3"></div>
    </div>

</div>
</body>
</html>