{% load staticfiles %}
<div class="container body-content" id="test">

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="container" id="loginblock">
                    <h1>Account Settings</h1>

                    {% if firstname %}
                        <p>First Name: {{firstname}}</p>
                    {% else %}
                        <p>Who are you?</p>
                    {% endif %}

                    {% if lastname %}
                        <p>Last Name: {{lastname}}</p>
                    {% else %}
                        <p>Who are you?</p>
                    {% endif %}

                    {% if email %}
                        <p>Email: {{email}} </p>
                    {% else %}
                        <p>You don't have an email?</p>
                    {% endif %}

                    <a class="btn btn-lg btn-primary btn-block" href="/change_pass">Change Password</a>
                    <a class="btn btn-lg btn-primary btn-block" href="/change_email">Change Email</a>

                    <p>Note: if you want to change your name or last name, talk to our excellent staff at a campus near you.</p>

                    <h1>User Details</h1>

                    {% if homephone %}
                        <p>Home Phone Number: {{homephone}}</p>
                    {% else %}
                        <p>You don't have a home phone number?</p>
                    {% endif %}

                    {% if cellphone %}
                        <p>Home Phone Number: {{cellphone}}</p>
                    {% else %}
                        <p>You don't have a cellphone number?</p>
                    {% endif %}

                    {% if address %}
                        <p>Address: {{address}}</p>
                    {% else %}
                        <p>You don't have an address?</p>
                    {% endif %}

                    {% if professor %}
                        <p>Engineer status: {{isengineer}}</p>
                    {% endif %}

                    {% if isDirector %}
                        {% if hasDept %}
                        <p>Department: {{dept}} </p>
                        {% else %}
                        <p>You are not assigned to a department.</p>
                        {% endif %}
                    {% endif %}

                    <a class="btn btn-lg btn-primary btn-block" href="/change_details">Change Details</a>

            </div>

        </div>
        <div class="col-xs-3"></div>
    </div>

</div>