<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>

</head>
<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}

<div class="container body-content">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        
    <h1>THIS PAGE IS CURRENTLY BEING WORKED ON</h1>

    <div class="text-center">
        <p>In the event that this page is visited during our presentation or at any other point during our evaluation, please keep in mind that it is the thought that counts and that our dedicated team of experts is probably thinking about this issue ceaselessly. In fact, they probably even dream about it. But not now, of course, because that would mean that they get to sleep before this is resolved. Rest assured, dear costumer, this is not the case. </p>
        <p>Now <a onclick="history.go(-1);">leave</a> so that our team of dedicated experts can either resolve this issue promptly or begin to consider undergoing the most exemplary and excruciatingly violent punishment conceivable by our even more dedicated team of professionals expatriated from the most gruesome depths of the harshest Gulags.</p>
        <h4>Here, have a pretty picture. You deserve it for getting here:</h4>
            <br>
            <img id="gloriouslabour" src="{% static 'app/images/spess_blueprint.jpg' %}">
            <br>
    </div>

    </div>
    <div class="col-xs-1"></div>
</div>
</body>
</html>