<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EchelonPlanner</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/css/menu.css' %}"/>
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/bootjs/bootstrap.js' %}"></script>

</head>
<body>
<!-- Load  the Navbar at the top of the page.-->
{% include "app/navbar.html" %}

<div class="container body-content">
    <h1>WORK ON THIS PAGE IS CURRENTLY IN PROGRESS</h1>
</div>
</body>
</html>